body{
	display:flex;    
	justify-content: center;
	background-color: #E2DCC8;

}
#divpadre{
	display:flex;
	flex-direction: column;
	width:100%;
	
	background-color: #E2DCC8;
	margin: 0 auto;



}
#divjefe{

	background-color: #E2DCC8;
	
	width:500px;
	margin: 0 auto;
	display:block;
	overflow:auto;
	min-width: 355px;


	
}
#div-calc{
	background-color: red;
	margin-top: 10px;
	
}
#div-botones{
	display:flex;
	flex-direction: row;
	justify-content: space-between;

	width:100%;
	background-color: #E2DCC8 ;

	
}
h1{
	display:flex;
	flex-direction: column;
	width:100%;
	font-size: 27px;
	background-color:#0F3D3E;
	text-align: center;
	color:#F1F1F1;
	border-radius: 10px;
}
#parrafo{
	display:flex;
	flex-direction: column;
	width:100%;
	font-size: 13px;
	background-color:#0F3D3E;
	text-align: center;
	color:#F1F1F1;
	border-radius: 10px;

}
#idactualizar{
	font-size: 16px;
	background-color: #100F0F;
	color: #F1F1F1;
	

}

#botonmodo{
	font-size: 16px;
	background-color: #100F0F;
	color: #F1F1F1;
	

}
#botonmodo:active{
	background-color: #575757;
}
#idactualizar:active{
	background-color: #575757;
}

label{

	font-size: 22px;
	background-color: #0F3D3E;
	
	display: flex;
	width: 110px;
	height: 30px;
	justify-content: center;
	color: #F1F1F1;
	border: 4px solid #100F0F;



}
label:active{
	background-color: #051515;
}

#pesosid{

}

.inputs{
	font-size: 17px;
	background-color: #E2DCC8;
	width: 100%;
	border: 4px solid #100F0F;




}
.divamigos{
	background-color: #E2DCC8;
	  display: flex;
	  max-height: 100px;


}
#nico{
	font-size: 13px;
	color: #575757;
}

@media (max-width: 382px) {
 
	body{
	
	

	}

	#divjefe{
		width:290px;
		min-width: 280px;
	}
	#nico{
	font-size: 10px;
	
}

}

@media (min-width: 600px) {
 
	body{
	
	

	}

	#divjefe{
		width:600px;
		min-width: 600px;
	}

	h1{
		font-size: 37px;


	}
	#parrafo{
		font-size: 20px;


	}

	#idactualizar{
	font-size: 21px;
	
	}

	#botonmodo{
	font-size: 21px;

	}



}