*{
    margin: 0px 0px;
    padding: 0px 0px;
}
.img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: top center;
    position: absolute;
    z-index: 20;
}
.img-two{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: top center;
    position: absolute;
    z-index: 20;
}
.iniciodiv h1, .iniciodiv p{
    z-index: 30;
    font-family: 'Lucida Sans';
    color: aliceblue;
    background-color: black;
    opacity: 0.85;
    font-size: 29px;
    margin: 0 10px;
    
}
.trabajosdiv h1, .trabajosdiv p{
    z-index: 30;
    font-family: 'Lucida Sans';
    color: aliceblue;
    background-color: black;
    opacity: 0.85;
    font-size: 29px;
    margin: 0 10px;
    
}

.trabajosdiv h1, .iniciodiv h1{
    font-size: 39px;
    font-family: 'Segoe UI';
    opacity: 0.9;

}

body{
    background-color:#cbf0f7;
    display: flex;
    flex-direction: column;
    
}
.inicio{
    display: flex;
    justify-content: flex-start;
}
.iniciodiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: flex-start;
}
.trabajosdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: flex-start;
}
.header-padre{
    display:flex;
    background-color: #63a4b0;
    justify-content: center;
    min-width: 200px;
    position: fixed;
    z-index: 100;
    width:100%;
   
    
}
.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #63a4b0;
    min-width: 440px;
    max-width: 900px;
    width: 100%;
    
}
.header p{
    font-size: 34px;
    margin: 0px 20px;
    font-family: 'Lucida Sans';

}
.nav-items ul{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    list-style: none;
    
}
.menu-sidebar{
    z-index: 99;
    background-color: antiquewhite;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    height: 100vh;
    position: fixed;
    left: -450px;
    top: 80px;
    transition: left 1s;
}

.menu-sidebar ul{
    list-style: none;
    margin: 20px 20px;
}
.menu-sidebar ul li{
    margin: 20px 20px;
    background-color: bisque;
    border-radius: 50%;

}
.menu-sidebar ul li a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    font-size: 34px;
   

}
.nav-items ul li a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    font-size: 26px;
    font-family: 'Lucida Sans';
}

.boton{
    cursor: pointer;
    background-color: transparent;
    display:none;
    margin-right: 40px;
}
 @media (max-width: 450px){
    .boton{
        display: flex;
    }
    .nav-items{
        display: none;

    }
    .header{
        min-width: 200px;
    }
    .menu-sidebar{
        display:flex;
    }
 }

