body{
	display:flex;    
	justify-content: center;
	background-color: #E2DCC8;

}
#divpadre{
	display:flex;
	flex-direction: column;
	width:100%;
	
	background-color: #E2DCC8;
	margin: 10px;



}
#divjefe{
	display:flex;
	flex-wrap:wrap; 
	flex-direction: column;
	background-color: #E2DCC8;
	flex-basis: auto;
	width:400px;


	
}
#div-calc{
	background-color: red;
	margin: 10px;
	
}
#div-botones{
	display:flex;
	flex-direction: row;
	justify-content: space-between;

	width:100%;
	background-color: #E2DCC8 ;

	
}
h1{
	display:flex;
	flex-direction: column;
	width:100%;
	font-size: 27px;
	background-color:#0F3D3E;
	text-align: center;
	color:#F1F1F1;
	border-radius: 10px;
}
#parrafo{
	display:flex;
	flex-direction: column;
	width:100%;
	font-size: 13px;
	background-color:#0F3D3E;
	text-align: center;
	color:#F1F1F1;
	border-radius: 10px;

}
#idactualizar{
	font-size: 16px;
	background-color: #100F0F;
	color: #F1F1F1;
	

}

#botonmodo{
	font-size: 16px;
	background-color: #100F0F;
	color: #F1F1F1;
	

}
label{

	font-size: 22px;
	background-color: #0F3D3E;
	
	display: flex;
	width: 110px;
	height: 30px;
	justify-content: center;
	color: #F1F1F1;
	border: 4px solid #100F0F;


}

#pesosid{

}

.inputs{
	font-size: 17px;
	background-color: #E2DCC8;
	width: 100%;
	border: 4px solid #100F0F;




}
.divamigos{
	background-color: #E2DCC8;
	  display: flex;
	  max-height: 100px;


}

@media (max-width: 300px) {
 
	body{
	
	background-color: white;

}
}